body{
	background-color: #f5f7f9;
}

.my-container-1{
	margin-top: 30px;
	background-color: #D5D5D5;
}

.my-container-2{
	margin-top: 16px;
	padding: 10px 80px 30px 100px;
}

.site-user {
	font-family: "微软雅黑";
}

.site-user .site-user-image{
	display: block;
	margin: 0 auto;
	padding: 2px;
	max-width: 120px;
	height: auto;
	border: 1px solid #eee;
}

.site-user p{
	text-align: center;
}

.my-col-md-3-left .site-user{
	background-color: #FFFFFF;
}

.my-col-md-3-left .site-calander {
	margin-top: 30px;
	background-color: #FFFFFF;
	width: 100%;
	height: 300px;
	text-align: center;
}

.my-col-md-7-right{
	background-color: #FFFFFF;
	font-family: "微软雅黑";
}

.my-col-md-7-right h3{
	text-align: center;
}

.my-col-md-7-right .small_title{
	text-align: center;
	font-size: 5px;
	font-family: "微软雅黑";
}

.my-col-md-7-right .my-container-3{
	margin-top: 15px;
}
/*itself*/

.my-col-md-7-right .my-mark{
	margin-bottom: 38px;
}

.check_tip{
	color: red;
	font-family: "微软雅黑";
	font-size: 16px;
}

.login_out {
	color: dodgerblue;
}